.skeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__side {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__element {
    background-color: $gray-100;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;
    animation: skeleton-breathe 2s infinite alternate;
  }

  @keyframes skeleton-breathe {
    0% {
      background-color: $gray-50;
    }
    100% {
      background-color: $gray-100;
    }
  }

  &__rank {
    height: 24px;
    width: 32px;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &__badge {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__name {
    height: 24px;
    width: 139px;
  }

  &__bar {
    height: 12px;
    width: 224px;
  }

  &__matches {
    height: 12px;
    width: 114px;
  }

  &__points {
    height: 56px;
    width: 144px;
    border-radius: $border-radius-sm;
  }
}
