.skeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 16px 0;


  &__side {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__element {
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;
    animation: skeleton-breathe 2s infinite alternate;
  }

  @keyframes skeleton-breathe {
    0% {
      background-color: $gray-50;
    }
    100% {
      background-color: $gray-100;
    }
  }

  &__rank {
    height: 24px;
    width: 32px;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &__badge {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__name {
    height: 24px;
    width: 139px;
  }

  &__bar {
    height: 12px;
    width: 224px;
  }

  &__matches {
    height: 12px;
    width: 114px;
  }

  &__points {
    height: 56px;
    width: 144px;
    border-radius: $border-radius-sm;
  }

  @include media-breakpoint-only(sm) {
    &__side--right {
      display: grid;
      grid-template-areas:
        "bar points"
        "matches points";
      justify-items: end;
      justify-content: end;
      gap: 0 16px;
    }

    &__bar {
      grid-area: bar;
      width: 262px;
    }

    &__matches {
      grid-area: matches;
    }

    &__points {
      grid-area: points;
    }
  }
  
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 16px 16px 0;

    &__side--right {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      gap: 8px;
    }

    &__bar {
      width: 280px;
    }
  }

  @media (max-width: 360px) {
    &__bar {
      width: 230px;
    }
  }
}
